.App {
  text-align: center;
}

.navbar{
  margin: 15px;
}

.l1{
  margin-left: 40px;
}

.EditEventPage{
   margin-top: 40px;
}

.B1{
  margin: 30px;
}

.EventPage{
  margin-top: 40px;
}

.LogInPage{
  margin-top: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


